{% extends 'base_login.html' %}
{% load static %}

{% block content %}
  <div class="col-md-4 content-center">
      <div class="card card-login card-plain">
          <form class="form" method="post" action="">
              {% csrf_token %}
              <div class="header header-primary text-center">
                  <div class="logo-container">
                      <img src="{% static 'img/now-logo.png' %}" alt="">
                  </div>

                  {% if form.errors %}
                    <div class="alert alert-danger">
                        Your username and password didn't match. Please try again.
                    </div>
                  {% endif %}

                  {% if next %}
                    {% if user.is_authenticated %}
                        <div class="alert alert-danger">
                            Your account doesn't have access to this page. To proceed, please login with an account that has access.
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                            Please login to continue.
                        </div>
                    {% endif %}
                  {% endif %}

              </div>
              <div class="content">
                  <div class="input-group form-group-no-border input-lg">
                      <span class="input-group-addon">
                          <i class="now-ui-icons users_circle-08"></i>
                      </span>
                      <input type="text" name="username" id="id_username" autofocus="" maxlength="254" required class="form-control" placeholder="Username...">
                  </div>
                  <div class="input-group form-group-no-border input-lg">
                      <span class="input-group-addon">
                          <i class="fa fa-key"></i>
                      </span>
                      <input type="password" name="password" id="id_password" required placeholder="Password..." class="form-control" />
                  </div>
              </div>
              <div class="footer text-center">
                  <button class="btn btn-primary btn-round btn-lg btn-block"><i class="now-ui-icons ui-1_lock-circle-open"></i> Login</button>
              </div>
              <div class="pull-left">
                  <h6>
                      <a href="{% url 'password_reset' %}" class="link">Forgot Password</a>
                  </h6>
              </div>
          </form>
      </div>
  </div>
{% endblock %}