{% extends 'base_login.html' %}

{% load static %}

{% block content %}
  <div class="col-md-4 content-center">
      <div class="card card-login card-plain">
          <form class="form" method="post" action="">
              {% csrf_token %}
              <div class="header header-primary text-center">
                  <div class="logo-container">
                      <img src="{% static 'img/now-logo.png' %}" alt="">
                  </div>
                  <div class="alert alert-success">
                      We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                      If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
                  </div>
              </div>

              <div class="footer text-center">
                  <a href="{% url 'login' %}" class="btn btn-primary btn-round btn-lg btn-block"><i class="now-ui-icons ui-1_lock-circle-open"></i> Login Here</a>
              </div>
          </form>
      </div>
  </div>
{% endblock %}