{% extends 'base_login.html' %}

{% load static %}

{% block content %}
  <div class="col-md-4 content-center">
      <div class="card card-login card-plain">
          <form class="form" method="post" action="">
              {% csrf_token %}
              <div class="header header-primary text-center">
                  <div class="logo-container">
                      <img src="{% static 'img/now-logo.png' %}" alt="">
                  </div>
                  <p>
                      Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
                  </p>
              </div>
              <div class="content">
                  <div class="input-group form-group-no-border input-lg">
                      <span class="input-group-addon">
                          <i class="fa fa-at"></i>
                      </span>
                      <input type="email" name="email" id="id_email" autofocus="" maxlength="254" required class="form-control" placeholder="Enter your registered email...">
                  </div>
              </div>
              <div class="footer text-center">
                  <button class="btn btn-primary btn-round btn-lg btn-block"><i class="now-ui-icons ui-1_lock-circle-open"></i> Reset My Password</button>
              </div>
              <div class="pull-left">
                  <h6>
                      <a href="{% url 'login' %}" class="link"> Login Here</a>
                  </h6>
              </div>
          </form>
      </div>
  </div>
{% endblock %}