{% if messages %}
    {% for message in messages %}
        <div class="flash-container">
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                <div class="alert-icon">
                    {% if message.tags == 'success' %}
                        <i class="now-ui-icons ui-2_like"></i>
                    {% elif message.tags == 'info' %}
                        <i class="now-ui-icons travel_info"></i>
                    {% elif message.tags == 'warning' %}
                        <i class="now-ui-icons ui-1_bell-53"></i>
                    {% elif message.tags == 'error' %}
                        <i class="now-ui-icons objects_support-17"></i>
                    {% else %}
                        <!-- nothing -->
                    {% endif %}
                </div>
                <strong>
                    {% if message.tags %} {{ message.tags }} {% endif %}
                </strong>
                {{ message }}
                <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </span>
                </button>
            </div>
        </div>
    {% endfor %}
{% endif %}