<div class="container">
    <nav>
        <ul>
            <li>
                <a href="https://www.creative-tim.com">
                    Creative Tim
                </a>
            </li>
            <li>
                <a href="http://presentation.creative-tim.com">
                    About Us
                </a>
            </li>
            <li>
                <a href="http://blog.creative-tim.com">
                    Blog
                </a>
            </li>
            <li>
                <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                    MIT License
                </a>
            </li>
        </ul>
    </nav>
    <div class="copyright">
        &copy;
        <script>
            document.write(new Date().getFullYear())
        </script>,
        <a href="https://anujsh.gitlab.io" target="_blank">
            <i class="now-ui-icons arrows-1_minimal-left"></i><i class="now-ui-icons arrows-1_minimal-right"></i>
            <span>With</span>
            <i class="now-ui-icons ui-2_favourite-28"></i>
            <span>By</span>
            <strong>Anuj</strong>
        </a>.
    </div>
</div>