.main-search-form .input-group-addon {
	background: #d3f01400;
	color: white;
}
.main-search-form span {
	font-size: 1.9em;
}
.main-search-form input[type="search"] {
	height: 61px;
	font-size: 1.8em;
	color: white;
}
.main-search-form button {
	height: 52px;
	font-size: 1.4em;
	text-transform: full-width;
	margin-top: 10%;
	padding-top: 5%;
}
.main-search-form .search-input:focus {
	background: none;
}
.navigation-avatar {
	width: 43px;
	height: 43px;
}
.vertical-middle label {
	padding-top: 9%;
}
.flash-container {
	position: fixed;
	top: 20%;
	z-index: 9999;
	right: 2%;
}
.alert.alert-error {
	background-color: rgba(255, 54, 54, 0.8);
}
.alert-error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.profile-picture-change img:hover {
  opacity: 0.5;
  z-index: 501;
}

.pprofile-picture-change img:hover + i {
  display: block;
  z-index: 500;
}

.profile-picture-change .icon-wrapper {
  position: absolute;
  bottom:0;
  left:0;
  background:rgba(0,0,0,0.7);
  color:#fff;
  text-align:center;
  width:100%;
  padding:5px;
}

.profile-picture-change input[type="file"] {
  opacity:0;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.copyright a i {
    font-weight: 700;
}

.errorlist {
    list-style: square;
	float: left;
	color: #e60000;
}

.form-help {
	padding-left: 0px;
	padding-bottom: 2px;
}

.form-help ul {
	list-style: square;
}
.height-40vh {
    height: 40vh !important;
}
.height-30vh {
	height: 30vh !important;
}
.btn-flat {
	height: 100%;
	margin: 0;
	border-radius: 0;
}
.no-padding {
    padding: 0;
}
.business-logo-holder {
	height: 100px;
	width: 100px;
	border: 3px solid #c5c3c3;
	box-shadow: 2px 3px 11px #b4b0b0;
}
.section-business-card .business-title {
    padding-left: 0;
    padding-right: 0;
    display: block;
}
.section-page {
    padding: 20px 0 !important;
}
.cstm-page-header {
	top: 75% !important;
}
select.form-control:not([size]):not([multiple]) {
	height: calc(2.25rem + 11px);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.border-unset, .no-border {
    border: unset !important;
}