{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-header page-header-small" filter-color="orange">

    {% include 'profile_badge.html' %}


        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <a href="{% url 'accounts:update' %}" class="btn btn-primary btn-round btn-lg">Update</a>
                    <a href="{% url 'accounts:change_password' %}" class="btn btn-primary btn-round btn-lg">Change Password</a>
                </div>
                <h3 class="title">Change Password</h3>


                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-10 col-xl-8 ml-auto mr-auto">
                            <!-- Tabs with Background on Card -->
                            <div class="card">
                                <div class="card-body">
                                    <!-- Tab panes -->
                                    <div class="tab-content text-center">


                                        <form method="post">
                                            {% csrf_token %}

                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ form.non_field_errors }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3 col-sm-12 text-right vertical-middle">
                                                    <label>Current Password</label>
                                                </div>
                                                <div class="col-md-9 col-sm-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-asterisk"></i>
                                                        </span>
                                                        <input type="password" id="id_old_password" name="old_password" class="form-control" placeholder="Current Password" required>
                                                    </div>
                                                    {{ form.old_password.errors }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3 col-sm-12 text-right vertical-middle">
                                                    <label>New Password</label>
                                                </div>
                                                <div class="col-md-9 col-sm-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-asterisk"></i>
                                                        </span>
                                                        <input type="password" id="id_new_password1" name="new_password1" class="form-control" placeholder="New Password" required>
                                                    </div>
                                                    {{ form.new_password1.errors }}

                                                    {% if form.new_password1.help_text %}
                                                    <div class="alert alert-info text-left form-help">
                                                        {{ form.new_password1.help_text|safe }}
                                                    </div>
                                                    {% endif %}

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3 col-sm-12 text-right vertical-middle">
                                                    <label>Confirm Password</label>
                                                </div>
                                                <div class="col-md-9 col-sm-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-asterisk"></i>
                                                        </span>
                                                        <input type="password" id="id_new_password2" name="new_password2" class="form-control" placeholder="Confirm Password" required>
                                                    </div>
                                                    {{ form.new_password2.errors }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-success btn-round pull-right">Change Password</button>
                                                </div>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- End Tabs on plain Card -->
                        </div>
                    </div>
                </div>




            </div>
        </div>
{% endblock content %}