{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-header page-header-small" filter-color="orange">

            {% include 'profile_badge.html' %}

        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <a href="{% url 'accounts:update' %}" class="btn btn-primary btn-round btn-lg">Update</a>
                    <a href="{% url 'accounts:change_password' %}" class="btn btn-primary btn-round btn-lg">Change Password</a>
                </div>
                <h3 class="title">About me</h3>
                <h5 class="description">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</h5>
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <h4 class="title text-center">My Portfolio</h4>
                        <div class="nav-align-center">
                            <ul class="nav nav-pills nav-pills-primary" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#profile" role="tablist">
                                        <i class="now-ui-icons design_image"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home" role="tablist">
                                        <i class="now-ui-icons location_world"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#messages" role="tablist">
                                        <i class="now-ui-icons sport_user-run"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content gallery">
                        <div class="tab-pane active" id="home" role="tabpanel">
                            <div class="col-md-10 ml-auto mr-auto">
                                <div class="row collections">
                                    <div class="col-md-6">
                                        <img src="{% static 'img/bg1.jpg' %}" alt="" class="img-raised">
                                        <img src="{% static 'img/bg3.jpg' %}" alt="" class="img-raised">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="{% static 'img/bg8.jpg' %}" alt="" class="img-raised">
                                        <img src="{% static 'img/bg7.jpg' %}" alt="" class="img-raised">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile" role="tabpanel">
                            <div class="col-md-10 ml-auto mr-auto">
                                <div class="row collections">
                                    <div class="col-md-6">
                                        <img src="{% static 'img/bg6.jpg' %}" class="img-raised">
                                        <img src="{% static 'img/bg11.jpg' %}" alt="" class="img-raised">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="{% static 'img/bg7.jpg' %}" alt="" class="img-raised">
                                        <img src="{% static 'img/bg8.jpg' %}" alt="" class="img-raised">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="messages" role="tabpanel">
                            <div class="col-md-10 ml-auto mr-auto">
                                <div class="row collections">
                                    <div class="col-md-6">
                                        <img src="{% static 'img/bg3.jpg' %}" alt="" class="img-raised">
                                        <img src="{% static 'img/bg8.jpg' %}" alt="" class="img-raised">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="{% static 'img/bg7.jpg' %}" alt="" class="img-raised">
                                        <img src="{% static 'img/bg6.jpg' %}" class="img-raised">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}