{% extends 'base.html' %}
{% load static %}
{% load avatar_tags %}

{% block content %}
<div class="page-header page-header-small" filter-color="orange">

    {% include 'profile_badge.html' %}

        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <a href="{% url 'accounts:update' %}" class="btn btn-primary btn-round btn-lg">Update</a>
                    <a href="{% url 'accounts:change_password' %}" class="btn btn-primary btn-round btn-lg">Change Password</a>
                </div>
                <h3 class="title">Update Profile</h3>


                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xl-4 ml-auto mr-auto">
                            <p class="category">Change Avatar</p>
                            <!-- Nav tabs -->
                            <div class="card">
                                <div class="card-body">
                                    <!-- Tab panes -->
                                    <div class="tab-content text-center">

                                        <form method="post" enctype="multipart/form-data" action="{% url 'avatar_add' %}">
                                            {% csrf_token %}

                                        <div class="photo-container profile-picture-change">
                                            {% avatar user 400 class="img-circle" %}
                                        </div>

                                            <input name="avatar" id="id_avatar" type="file">

                                            {% if request.user|has_avatar == False %}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="alert alert-info">
                                                            You haven't uploaded an avatar yet. Please upload one now.
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            <a href="{% url 'avatar_change' %}" class="btn btn-success">Change Avatar</a>
                                        <button class="btn btn-success">Change Avatar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-8 col-xl-8 ml-auto mr-auto">
                            <p class="category">Profile Detail</p>
                            <!-- Tabs with Background on Card -->
                            <div class="card">
                                <div class="card-body">
                                    <!-- Tab panes -->
                                    <div class="tab-content text-center">


                                        <form method="post">
                                            {% csrf_token %}

                                            <div class="row">
                                                <div class="col-md-2 col-sm-12 text-right vertical-middle">
                                                    <label>First Name</label>
                                                </div>
                                                <div class="col-md-10 col-sm-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user-circle"></i>
                                                        </span>
                                                        <input name="first_name" value="{{ request.user.first_name }}" class="form-control" placeholder="First Name">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-2 col-sm-12 text-right vertical-middle">
                                                    <label>Last Name</label>
                                                </div>
                                                <div class="col-md-10 col-sm-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user-circle"></i>
                                                        </span>
                                                        <input name="last_name" value="{{ request.user.last_name }}" class="form-control" placeholder="Last Name">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-success btn-round pull-right">Update</button>
                                                </div>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- End Tabs on plain Card -->
                        </div>
                    </div>
                </div>




            </div>
        </div>
{% endblock content %}