{% load static %}
{% load avatar_tags %}

<div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'img/bg5.jpg' %}');">
</div>
<div class="container">
    <div class="content-center">
        <div class="photo-container">
            {% avatar user 400 class="img-responsive" width="100%" height="100%" %}
            <!-- <img src="{% static 'img/ryan.jpg' %}" alt=""> -->
        </div>
        <h3 class="title">{{ request.user.get_full_name|default:request.user.username }}</h3>
        <p>
            {% for user_group in request.user.groups.all %}
                <span class="badge badge-success">{{ user_group.name }}</span>
            {% endfor %}
        </p>
    </div>
</div>