{% extends 'base.html' %}
{% load static %}
{% load avatar_tags %}

{% block content %}

{% for a in queryset %} {{ a }} {% endfor %}




        <div class="page-header page-header-small height-30vh">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'img/bg6.jpg' %}');">
            </div>
            <div class="container">
                <div class="content-center cstm-page-header">
                    <h1 class="title">My Businesses</h1>
                </div>
            </div>
        </div>



        <div class="section section-page section-business-card">

            <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="{% url 'business:add' %}" class="btn btn-success btn-round pull-right">
                        <i class="fa fa-plus"></i>
                        Add Business
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-4 col-sm-6 col-xs-12 ml-auto mr-auto">
                    <!-- Tabs with Background on Card -->
                    <div class="card">
                        <ul class="nav nav-tabs nav-tabs-neutral business-title" role="tablist" data-background-color="orange">
                            <li class="nav-item">
                                <a class="nav-link active no-border" data-toggle="tab" href="#detail" role="tab" aria-expanded="true">Home</a>
                            </li>
                        </ul>
                        <div class="card-body">
                            <!-- Tab panes -->
                            <div class="tab-content text-center">
                                <div class="tab-pane active" role="tabpanel" aria-expanded="true">

                                    <div class="row">
                                        <div class="col-md-4 col-sm-12 text-center">
                                            <div class="business-logo-holder">
                                                <img src="{% avatar_url user 400 %}" class="img-responsive" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-12">
                                            <p>This is business text</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card-footer no-padding">
                            <div class="row">
                                <div class="col-sm-6 col-6 no-padding">
                                    <button type="button" class="btn btn-warning btn-block btn-flat">
                                        <i class="fa fa-pencil"></i>
                                        <span class="hidden-xs hidden-sm">Edit</span>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-6 no-padding">
                                    <button type="button" class="btn btn-danger btn-block btn-flat">
                                        <i class="fa fa-trash-o"></i>
                                        <span class="hidden-lg hidden-md">Delete</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Tabs on plain Card -->
                </div>


            </div>
                </div>



        </div>

        <div class="section section-about-us">
            <div class="col-md-4 col-md-offset-4">
                <a href="#" class="btn btn-success btn-round btn-block">
                    <i class="fa fa-plus"></i>
                    Add Business
                </a>
            </div>
        </div>

{% endblock content %}