{% extends 'base.html' %}
{% load static %}
{% load avatar_tags %}
{% load widget_tweaks %}

{% block content %}


        <div class="page-header page-header-small height-30vh">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'img/bg6.jpg' %}');">
            </div>
            <div class="container">
                <div class="content-center cstm-page-header">
                    <h1 class="title">Add Businesses</h1>
                </div>
            </div>
        </div>


        <div class="section section-page section-business-card">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'business:list' %}" class="btn btn-success btn-round pull-right">
                            <i class="fa fa-plus"></i>
                            List All Business
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <!-- Tabs with Background on Card -->
                        <form class="card" method="post">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-md-12">
                                    {{ form.non_field_errors }}
                                </div>
                            </div>

                            <div class="card-body">
                                <!-- Tab panes -->

                                <p class="description">
                                    Business Information
                                </p>
                                <div class="row">
                                    <div class="col-lg-12 text-center col-md-12 ml-auto mr-auto">
                                        <div class="input-group input-lg">
                                            <span class="input-group-addon">
                                                <i class="fa fa-building-o"></i>
                                            </span>
                                            {% render_field form.name class='form-control' placeholder='Business Title' %}
                                            {{ form.name.errors }}
                                        </div>
                                        <div class="input-group input-lg">
                                            <span class="input-group-addon">
                                                <i class="fa fa-briefcase"></i>
                                            </span>
                                            {% render_field form.business_type class='form-control' %}
                                            {{ form.business_type.errors }}
                                        </div>
                                    </div>
                                </div>

                                <p class="description">
                                    Business Address
                                    {{ business_address.management_form }}
                                </p>
                                <div class="row">
                                    <div class="col-lg-12 text-center col-md-12 ml-auto mr-auto">
                                        <div class="input-group input-lg">
                                            <span class="input-group-addon">
                                                <i class="fa fa-address-card-o"></i>
                                            </span>
                                            {% render_field business_address.form.line_1 class='form-control' placeholder=business_address.form.line_1.label %}
                                            {{ business_address.form.line_1.errors }}
                                        </div>
                                        <div class="input-group input-lg">
                                            <span class="input-group-addon">
                                                <i class="fa fa-address-card-o"></i>
                                            </span>
                                            {% render_field business_address.form.line_2 class='form-control' placeholder=business_address.form.line_2.label %}
                                            {{ business_address.form.line_2.errors }}
                                        </div>
                                        <div class="input-group input-lg">
                                            <span class="input-group-addon">
                                                <i class="fa fa-map-marker"></i>
                                            </span>
                                            {% render_field business_address.form.city class='form-control' placeholder=business_address.form.city.label %}
                                            {{ business_address.form.city.errors }}
                                        </div>
                                        <div class="input-group input-lg">
                                            <span class="input-group-addon">
                                                <i class="fa fa-location-arrow"></i>
                                            </span>
                                            {% render_field business_address.form.state class='form-control' %}
                                            {{ business_address.form.state.errors }}
                                        </div>
                                        <div class="input-group input-lg">
                                            <span class="input-group-addon">
                                                <i class="fa fa-address-card-o"></i>
                                            </span>
                                            {% render_field business_address.form.postal_code class='form-control' placeholder=business_address.form.postal_code.label %}
                                            {{ business_address.form.postal_code.errors }}
                                        </div>
                                    </div>
                                </div>

                                <p class="description">
                                    Contact Information
                                    {{ business_email.management_form }}
                                    {{ business_phone.management_form }}
                                    {{ business_website.management_form }}
                                </p>
                                <div class="row">
                                    <div class="col-lg-12 text-center col-md-12 ml-auto mr-auto">
                                        <div class="input-group input-lg">
                                            <span class="input-group-addon">
                                                <i class="fa fa-at"></i>
                                            </span>
                                            {% render_field business_email.form.email class='form-control' placeholder=business_email.form.email.label %}
                                            {{ business_email.form.email.errors }}
                                        </div>
                                        <div class="input-group input-lg">
                                            <span class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                            {% render_field business_phone.form.phone_number class='form-control' placeholder=business_phone.form.phone_number.label %}
                                            {{ business_phone.form.phone_number.errors }}
                                        </div>
                                        <div class="input-group input-lg">
                                            <span class="input-group-addon">
                                                <i class="fa fa-globe"></i>
                                            </span>
                                            {% render_field business_website.form.website class='form-control' placeholder=business_website.form.website.label %}
                                            {{ business_website.form.website.errors }}
                                        </div>
                                        <div class="send-button">
                                            <button class="btn btn-primary btn-round btn-block btn-lg">Add Business</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                        </div>
                        <!-- End Tabs on plain Card -->
                    </div>
                </div>

            </div>
        </div>


{% endblock content %}


{% block javascript %}


{% endblock javascript %}