{% extends 'base.html' %}
{% load static %}
{% load avatar_tags %}
{% load widget_tweaks %}

{% block content %}


        <div class="page-header page-header-small height-30vh">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'img/bg6.jpg' %}');">
            </div>
            <div class="container">
                <div class="content-center cstm-page-header">
                    <h1 class="title">Add Businesses</h1>
                </div>
            </div>
        </div>


        <div class="section section-page section-business-card">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'business:list' %}" class="btn btn-success btn-round pull-right">
                            <i class="fa fa-plus"></i>
                            List All Business
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <!-- Tabs with Background on Card -->
                        <form class="card" method="POST">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-md-12">
                                    {{ form.errors }}
                                    {{ form.non_field_errors }}
                                </div>
                            </div>

                            <div class="card-body">
                                <!-- Tab panes -->

                                <p class="description">
                                    Business Information
                                </p>
                                <div class="row">
                                    <div class="col-lg-12 text-center col-md-12 ml-auto mr-auto">
                                        <div class="input-group input-lg">
                                            <span class="input-group-addon">
                                                <i class="fa fa-building-o"></i>
                                            </span>
                                            {% render_field form.name class='form-control' placeholder='Business Title' %}
                                            {{ form.name.errors }}
                                        </div>
                                        <div class="input-group input-lg">
                                            <span class="input-group-addon">
                                                <i class="fa fa-briefcase"></i>
                                            </span>
                                            {% render_field form.business_type class='form-control' %}
                                            {{ form.business_type.errors }}
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-12 text-center col-md-12 ml-auto mr-auto">
                                        <div class="send-button">
                                            <button class="btn btn-primary btn-round btn-block btn-lg">Add Business</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                        </div>
                        <!-- End Tabs on plain Card -->
                    </div>
                </div>

            </div>
        </div>


{% endblock content %}


{% block javascript %}


{% endblock javascript %}