{% load static %}
{% load avatar_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        {% block title %} SEO Tool {% endblock %}
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/now-ui-kit.css' %}" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="{% static 'css/demo.css' %}" />
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
</head>

{% if request.resolver_match.app_name == 'accounts' %}
    <body class="profile-page sidebar-collapse">
{% else %}
    <body class="index-page sidebar-collapse">
{% endif %}


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="100">
        <div class="container">
            <div class="navbar-translate">

                {% include 'element/website_title.html' %}

                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="{% static 'img/blurred-image-1.jpg' %}">
                <ul class="navbar-nav">

                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link" data-toggle="dropdown" id="navbarDropdownUserMenu" href="#">
                                    {% avatar user 400 width="100%" height="100%" class="rounded-circle navigation-avatar" alt="{{ request.user.get_full_name|default:request.user.username }}" %}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownUserMenu">

                                    {% if request.user.is_superuser == True %}
                                        <div class="dropdown-header">Super Admin Menu</div>
                                        <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                                    {% endif %}

                                    <div class="dropdown-header">Settings</div>
                                    <a class="dropdown-item" href="{% url 'accounts:setting' %}">Settings</a>
                                    <div class="dropdown-header">{{ request.user.get_full_name|default:request.user.username }}</div>
                                    <a class="dropdown-item" href="{% url 'accounts:profile' %}">My Profile</a>
                                    <a class="dropdown-item" href="{% url 'accounts:change_password' %}">Change Password</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">
                                <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                <p>Login</p>
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper">


        <!-- block content -->

        {% block content %}

        {% endblock %}

        <!-- end block content -->



        <!--  End Modal -->
        <footer class="footer" data-background-color="black">
            {% include 'element/footer.html' %}
        </footer>

        {% include 'element/flash_message.html' %}

    </div>
</body>
<!--   Core JS Files   -->
<script src="{% static 'js/core/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/core/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'js/plugins/bootstrap-switch.js' %}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="{% static 'js/plugins/bootstrap-datepicker.js' %}" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="{% static 'js/now-ui-kit.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // the body of this function is in assets/js/now-ui-kit.js
        nowuiKit.initSliders();
    });

    function scrollToDownload() {

        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }
</script>

    {% block javascript %}

        {# javascript code goes here #}

    {% endblock javascript %}

</html>